/**
* ownCloud shorty plugin, a URL shortener
*
* @author Christian Reiner
* @copyright 2011-2012 Christian Reiner <foss@christian-reiner.info>
*
* This library is free software; you can redistribute it and/or
* modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
* License as published by the Free Software Foundation; either
* version 3 of the license, or any later version.
*
* This library is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU AFFERO GENERAL PUBLIC LICENSE for more details.
*
* You should have received a copy of the GNU Affero General Public
* License along with this library.
* If not, see <http://www.gnu.org/licenses/>.
*
*/

#content { overflow: auto; }

.shorty-controls {
  display: none;
}

.shorty-desktop {
  display: inline-block;
  position: absolute;
  width: 100%; height: 100%;
  background: transparent;
  text-align: left;
  margin-top: 30px;
  padding: 2.5em 0.5em;
  padding-top: 20px;
}

.shorty-dialog {
  display: none;
  width: 500px; 
  margin-top: 10px;
  background: solid;
  background-color: white;
  padding: 20px;
}
.shorty-dialog br {
  clear: left;
}
.shorty-dialog label {
  display: inline;
  width: 20%;
  float: left;
  margin: 2px 4px 6px 4px;
  text-align: right;
  padding: 1px;
}
.shorty-dialog fieldset {
  border: 1px solid gray
}
.shorty-dialog legend {
  font-weight: bold;
  padding: 0.2em 0.5em;
}
.shorty-dialog input {
  width: 70%;
}
.shorty-dialog textarea {
  width: 70%; height: 5em;
}
.shorty-dialog button {
  width: 8em; height: 2em;
  background: solid;
  background-color: white;
}
.shorty-dialog button:hover {
  border-color: green;
}

.shorty-hidden {
  display: none;
}

.shorty-hourglass {
  display: none;
  position: absolute;
  width: 100%; height: 100%;
  background: transparent;
}

.shorty-icon {
  display: inline;
  background: transparent;
  vertical-align: middle;
  padding: 1px;
}

.shorty-headline {
  font-size: large;
  font-weight: bold;
  margin-left: 2em;
  padding: 2.5em 0.5em;
}

.shorty-list {
  margin-top: 20px;
}
.shorty-list th {
  font-weight: bold;
  padding: 1px;
  padding-left: 10px;
}
.shorty-list td {
  padding: 1px;
  padding-left: 10px;
}

.shorty-prompt {
  margin-left: 4px;
}
.shorty-value {
  margin-right: 4px;
}

.shorty-actions {
  display: none;
  font-size: smaller;
  color: #666;
  padding-left: 4em;
}

.shorty-actions span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.shorty-single {
  padding: 0.5em 1em;
}

.shorty-single:hover {
  background-color: #EAEAEA;
}

.shorty-single:hover .shorty-actions {
  display: block;
}

.shorty-key {
  color: black;
}

.shorty-notes {
  color: blue;
  text-decoration: none;
}

.shorty-source {
  color: gray;
}

.shorty-target {
  color: green;
}

.shorty-addBml {
  text-decoration: underline;
}
